html,body,.wrapper{
	font-size: 62.5%;
	height: 100%;
	width: 100%;
	background: #fff;
}
.wrapper{
	font-size: 3.5rem;
}
.hairStyle{
	height: 13rem;
    background: black;
    color: #fff;
    line-height: 16rem;
}
.hairStyle h2{
	display: inline-block;
	font-size: 4rem;
    margin-left: 15%;
    font-weight: normal;
}
.returnBtn{
	margin-right: 3rem;
	font-size: 3.5rem;
}
.stylists li{
    height: 14rem;
    border-bottom: 1px solid #eee;
}
.stylists .portrait,.stylists div,.stylists .order{
	display: inline-block;
	vertical-align: middle;
}
.stylists li .portrait{
	border-radius: 50%;
	margin: 2rem;
	width: 10rem;
	display: inline-block;
}
.stylistInfo .post{
	font-size: 2.5rem;
	color: #999;
}
.order{
	color: #fff;
	font-size: 3rem;
    width: 12rem;
    height: 5rem;
    background: #a40000;
    border: 0 none;
    border-radius: 1rem;
    float: right;
    margin: 4rem;
}